repos:
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.5
    hooks:
      - id: ruff
        args: ["--fix"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests==2.31.0.20240311
          - types-PyYAML==6.0.12.12
  - repo: local
    hooks:
      - id: frontend-lint
        name: frontend lint
        entry: pnpm --dir frontend lint
        language: system
        pass_filenames: false
        types_or: [javascript, jsx, ts, tsx]
      - id: frontend-format
        name: frontend format check
        entry: pnpm --dir frontend format
        language: system
        pass_filenames: false
        files: ^frontend/
